#global-cases {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.global-cases_title {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
}
.global-cases_number {
    color: red;
    font-size: 50px;
    text-align: center;
}