#mapid {
  margin: 0 auto;
  height: 90%;
}
.info {
    width: 150px;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    color: #bbb;
    background: rgba(170,170,170, 0.3);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;

  & ul {
    margin-left: 0;
    padding-left: 0;
  }
  & li {
    list-style-type: none;
    padding: 2px 0;
  }

}
.info h4 {
    margin: 0 0 5px;
    color: white;
}

#select-field {
  width: 200px;
  height: 30px;
  font-size: 15px;
  border: none;
  color: white;
  background-color: rgba(170,170,170, 0.3);
  & option {
    background-color: #333;
  }
}
.map-info-row {
  display: flex;
  justify-content: space-between;
  & p {
    color: #555;
    font-size: 14px;
    line-height: 30px;
  }
}
@media (max-width:1440px) {
  .map-info-row {
    & p {
      line-height: 15px;
    }
  }
}

@media (max-width:1024px) {
  #mapid {
    max-height: 600px;
  }

  .map-info-row {
    display: flex;
    justify-content: space-between;
    & p {
      color: #555;
      font-size: 10px;
      line-height: 15px;
    }
  }
}