.flag-image {
    width: 20px;
    margin-left: 3rem;
}
  
.button__statistics-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
  
.button__control-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
}
  
.button {
    border: 1px solid rgb(90, 1, 1);  
    font-family: 'Roboto', sans-serif;
    color: rgb(215, 218, 214);
    font-size: 0.75rem;
    font-weight: bold;
    background-color: black;		
}
  
.button.select {
    border-width: 1px;
    border-color: red;
    background-color: rgb(156, 0, 0);
}
  
.button__last-day-countries {
    margin-right: 2rem;
}

#countries__table {
    margin-left: 10px;
}

.countries__table-cell {
    text-align: center;
}

.countries__table-cell:nth-child(1) {
    color: rgb(88, 127, 171);
    font-weight: 700;
}

.countries__table-cell:nth-child(2) {
    color: grey;
    font-weight: 700;
}